# local package
-e .

## external requirements
## third party packages
numpy
pandas
matplotlib
seaborn
scikit-learn
dvc
dvc[gdrive]
pytest
flask
gunicorn
mlflow
python-box
ensure
imbalanced-learn
xgboost